@model List<TarefaModel>
@{
    ViewData["Title"] = "DashBoard";
}

<section class="dashboard">
    <div class="text-center">
        <h2 class="display-5">Bem Vindo ao Sistema de Tarefas</h2>
    </div>

    <div class="text-center">
        <h3 class="display-6">Lista de Serviços</h3>
        <br />
    </div>
    <table id="tabelaDashboard" style="width:100%" class="table table-striped table-bordered overflow-auto">
        <thead>
            <tr>
                <th scope="col">EMPRESA</th>
                <th scope="col">DESCRICAO</th>
                <th scope="col">DATA INICIAL</th>
                <th scope="col">DATA FINAL</th>
                <th scope="col">TOTAL</th>
                <th scope="col">OBS.</th>
                <th scope="col">TECNICO</th>
                <th scope="col">FINALIZADA</th>
                
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (TarefaModel tarefa in Model)
                {
                    <tr>
                        <th scope="row">@tarefa.Empresa</th>
                        <td>@tarefa.DescricaoResumo</td>
                        <td>@tarefa.HorarioInicio</td>
                        <td>@tarefa.HorarioFim</td>
                        <td>@tarefa.Total</td>
                        <td>@tarefa.Descricao</td>
                        <td>@tarefa.Usuario</td>
                        @if (tarefa.HorarioFim == null)
                        {
                            <td>NÃO FINALIZADO</td>
                        }
                        else
                        {
                            <td>FINALIZADO</td>
                        }

                    </tr>
                }
            }
            else
            {
                <tr class="odd"><td valign="top" colspan="8">Nenhuma empresa encontrada!</td></tr>
            }
        </tbody>
    </table>
</section>