@model List<UsuarioModel>
@{
    ViewData["Title"] = "Usuarios";
}

<section id="listaUsuarios">
    <br />
    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-outline-danger btn-sm close-alert close-button" arial-label="Close">X</button>
            @TempData["MensagemSucesso"]
        </div>
    }
    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-outline-danger btn-sm close-alert close-button" arial-label="Close">X</button>
            @TempData["MensagemErro"]
        </div>
    }
    <div class="text-center">
        <h3 class="display-6">Lista de Usuarios</h3>
        <br />
        <a asp-action="Criar" asp-controller="Usuario" role="button" class="btn btn-success">Adicionar Usuario</a>
    </div>
    <table id="tabelaUsuario" style="width:100%" class="table table-striped table-bordered overflow-auto">
        <thead>
            <tr>
                <th scope="col">NOME</th>
                <th scope="col">EMAIL</th>
                <th scope="col">PERFIL</th>
                <th scope="col">OPÇÕES</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (UsuarioModel usuario in Model)
                {
                    <tr>
                        <th scope="row">@usuario.Nome.ToUpper()</th>
                        <td>@usuario.Email.ToUpper()</td>
                        <td>@usuario.Perfil</td>
                        <td>
                            <a role="button" class="btn btn-primary btn-sm" asp-route-id="@usuario.Id" asp-action="Editar" asp-controller="Usuario">Editar</a>
                            <a role="button" class="btn btn-danger btn-sm" asp-route-id="@usuario.Id" asp-action="ApagarConfirmacao" asp-controller="Usuario">Apagar</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr class="odd"><td valign="top" colspan="4">Nenhum usuario encontrado!</td></tr>
            }
        </tbody>
    </table>
</section>